.product {
    width: 23%;
    height: 150px;
    border: 2px solid black;
    padding: 20px 0 0 0;
    text-align: center;
    display: inline-block;
    /*margin-right: 2%;*/
    margin: 15px 0 0 15px;
    position: relative;;
}

.productList {
    align-items: center;
    align-content: space-between;
    /*justify-content: space-between;*/
}

.checkbox_delete {
    position: absolute;
    left: 0;
    top: 0;
}

.btn {
    background: indianred;
    width: 25px;
    height: 25px;
    border: 4px solid indianred;
}

.btn:hover {
    background: darkred;
    border: 4px solid darkred;

}

